<div class="parent">
  <div class="container">
    <div class="footer row row-gap-5">
      <div class="col-md-4 location text-center">
        <h5>LOCATION</h5>
        <p class="py-1">2215 John Daniel Drive</p>
        <span>Clark, MO 65243</span>
      </div>

      <div class="col-md-4 around text-center">
        <h5 class="py-1">AROUND THE WEB</h5>
        <div class="icons d-flex justify-content-center gap-2">
          <div class="icon"><i class="fa-brands fa-facebook"></i></div>
          <div class="icon"><i class="fa-brands fa-twitter"></i></div>
          <div class="icon"><i class="fa-brands fa-linkedin"></i></div>
          <div class="icon"><i class="fa-solid fa-globe"></i></div>
        </div>
      </div>

      <div class="col-md-4 about text-center">
        <h5>ABOUT FREELANCER</h5>
        <p class="py-1">
          Freelance is a free to use, licensed Bootstrap theme created by <br />
          Route
        </p>
      </div>
    </div>
  </div>
</div>
