<head>
  <title>about</title>
</head>

<div class="parent">
  <app-custom [customText]="text"></app-custom>
  <div class="text d-flex container py-3 column-gap-3">
    <p>
      Freelancer is a free bootstrap theme created by Route. The download
      includes the complete source files including HTML, CSS, and JavaScript as
      well as optional SASS stylesheets for easy customization.
    </p>

    <p>
      Freelancer is a free bootstrap theme created by Route. The download
      includes the complete source files including HTML, CSS, and JavaScript as
      well as optional SASS stylesheets for easy customization.
    </p>
  </div>
</div>
