<head>
  <title>portfolio</title>
</head>
<div class="parent">
  <div class="container">
    <app-custom [customText]="text" class="text-dark"></app-custom>
    <div class="row row-gap-3 my-3">
      <div class="col-md-4">
        <app-image [imageSrc]="'assets/images/port1.png'"></app-image>
      </div>

      <div class="col-md-4">
        <app-image [imageSrc]="'assets/images/port2.png'"></app-image>
      </div>

      <div class="col-md-4">
        <app-image [imageSrc]="'assets/images/port3.png'"></app-image>
      </div>

      <div class="col-md-4">
        <app-image [imageSrc]="'assets/images/port1.png'"></app-image>
      </div>

      <div class="col-md-4">
        <app-image [imageSrc]="'assets/images/port2.png'"></app-image>
      </div>

      <div class="col-md-4">
        <app-image [imageSrc]="'assets/images/port3.png'"></app-image>
      </div>
    </div>
  </div>
</div>
