h3 {
  font-weight: bolder;
  text-align: center;
}
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.star {
  position: relative;
  font-weight: bolder;
  margin-bottom: 8px;
}
.star::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: #fff;
  left: -90px;
  top: 50%;
}
.star::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: #fff;
  left: 30px;
  top: 50%;
}
